
<div class="row">
    <div class="col-md-12">
        <div class="customer-part">
            <div class="card">
                <div class="arrow-icon">
                    <div class="arrow" (click)="toggleContent()"></div>
                </div>
                <div *ngIf="showContent">
                    <div class="card-body">
                        <!-- Dealer and Customer dropdowns removed - showing all vehicles directly -->
                    </div>
                    <div class="card-content">        
                        <div>
                            <div>
                                <swiper *ngIf="swiperList" [vehicleStauts]="swiperList" (onConfirm)="confirm($event)"></swiper>
                            </div>
                            <div class="vehicle-follow mt-3" >
                                <ul class="vehicle-data" *ngIf="vehicleData && vehicleData.length > 0">
                                    <li class="vehicle-value" *ngFor="let vehicle of vehicleData; let i = index" style="cursor: pointer;" (click)="onSelectVehicle(vehicle)">
                                        <span class="vehicle-no" [class]="getVehicleColor(vehicle)">{{vehicle?.Device?.VehicleNo}}</span>
                                        <span class="vehicle-status" [class]="getVehicleColor(vehicle)">{{formatVehicleStatusDuration(vehicle)}}</span>
                                    </li>
                                </ul>
                                <ul class="vehicle-data" *ngIf="!vehicleData || vehicleData.length == 0 || vehicleData== null">
                                    <li class="vehicle-value" style="text-align: center;padding: 8px;">
                                        <span style="color: black; width: 100% !important;">No Data Available</span>
                                    </li>                
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>          
        </div>
        
    </div>
</div>


