<div class="filter-part">
    <div class="row">
        <div class="col-md-12 text-end">
            <div class="first-part">
                <button class="btn btn-primary" (click)="toggleOptions()">
                    <i class="fa fa-plus" aria-hidden="true"></i> Add new Device
                </button>     
                <div class="options" *ngIf="showOptions">
                    <button class="option-btn" (click)="redirectTo('add-device', '')">Single Device</button>
                    <button class="option-btn" (click)="redirectTo('bulk-upload', '')">Bulk Upload</button>
                </div>
            </div>
        </div>
    </div>
</div>