<ng-container *ngIf="type === 'Admin'; else elseblock">
    <div class="modal-header text-center" style="color: #fff;">
        {{labelName}} Device
        <div class="close-modal">
            <i class="fa fa-close" style="color: white;cursor: pointer;" (click)="close()"></i>
        </div>
    </div>
    <div class="modal-body p-20">
        <div class="_card white-bg">
            <form [formGroup]="deviceForm" (ngSubmit)="submit(deviceForm.value)">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Unique ID <span class="text-danger">*</span></label>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Enter Unique ID"
                                formControlName="deviceUid" aria-describedby="button-addon2" />
                            <span *ngIf="isCheckingUniqueId" class="input-group-text">
                                <i class="fa fa-spinner fa-spin"></i>
                            </span>
                        </div>
                        <div *ngIf="deviceForm.get('deviceUid')?.invalid && (deviceForm.get('deviceUid')?.dirty || deviceForm.get('deviceUid')?.touched)"
                            class="text-danger">
                            <div *ngIf="deviceForm.get('deviceUid')?.errors?.['required']">
                                Unique ID is required
                            </div>
                            <div *ngIf="deviceForm.get('deviceUid')?.errors?.['duplicate'] || isUniqueIdDuplicate">
                                This Unique ID already exists
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Device IMEI</label>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Enter Device IMEI"
                                formControlName="deviceImei" aria-describedby="button-addon2" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Serial Number</label>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Enter Serial Number"
                                formControlName="serialNumber" aria-describedby="button-addon2" />
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Device Type <span class="text-danger">*</span></label>
                        <ng-select placeholder="Select Device Type" formControlName="fkDeviceType">
                            <ng-option *ngFor="let item of deviceTypeData" [value]="item?.id">
                                {{ item?.name }} ({{ item?.serverPort || '-' }})
                            </ng-option>
                        </ng-select>
                        <div *ngIf="deviceForm.get('fkDeviceType')?.invalid && (deviceForm.get('fkDeviceType')?.dirty || deviceForm.get('fkDeviceType')?.touched)"
                            class="text-danger">
                            Device Type is required
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Vehicle Type <span class="text-danger">*</span></label>
                        <ng-select placeholder="Select Vehicle Type" formControlName="fkVehicleType" (change)="selectedVehicle($event)">
                            <ng-option *ngFor="let item of vehiclTypeData" [value]="item?.id">{{ item?.name }}</ng-option>
                        </ng-select>
                        <div *ngIf="deviceForm.get('fkVehicleType')?.invalid && (deviceForm.get('fkVehicleType')?.dirty || deviceForm.get('fkVehicleType')?.touched)"
                            class="text-danger">
                            Vehicle Type is required
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Vehicle Number <span class="text-danger">*</span></label>
                        <div class="input-group">
                            <input type="text" class="form-control" formControlName="vehicleNo"
                                placeholder="Enter Vehicle Number" aria-describedby="button-addon2" maxlength="20"
                                oninput="this.value = this.value.toUpperCase()" />
                        </div>
                        <div *ngIf="deviceForm.get('vehicleNo')?.errors?.['required'] && (deviceForm.get('vehicleNo')?.dirty || deviceForm.get('vehicleNo')?.touched)"
                            class="text-danger">
                            Vehicle Number is required
                        </div>
                        <div class="text-danger" *ngIf="checkaplpha(deviceForm.get('vehicleNo')?.value)">
                            Only alphanumeric characters and spaces are allowed.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Primary SIM Number <span class="text-danger">*</span></label>
                        <div class="input-group">
                            <input type="text" class="form-control" formControlName="simPhoneNumber" placeholder="Enter Primary SIM Number"
                                aria-describedby="button-addon2" />
                        </div>
                        <div *ngIf="deviceForm.get('simPhoneNumber')?.invalid && (deviceForm.get('simPhoneNumber')?.dirty || deviceForm.get('simPhoneNumber')?.touched)"
                            class="text-danger">
                            <div *ngIf="deviceForm.get('simPhoneNumber')?.errors?.['required']">
                                Primary SIM Number is required
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Primary SIM Operator</label>
                        <ng-select placeholder="Select Primary SIM Operator" formControlName="fkSimOperator">
                            <ng-option *ngFor="let item of operatorData" [value]="item?.id">{{ item?.name }}</ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Secondary SIM Number</label>
                        <div class="input-group">
                            <input type="text" class="form-control" formControlName="simSecPhoneNumber" placeholder="Enter Secondary SIM Number"
                                aria-describedby="button-addon2" />
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Secondary SIM Operator</label>
                        <ng-select placeholder="Select Secondary SIM Operator" formControlName="fkSecSimOperator">
                            <ng-option *ngFor="let item of operatorData" [value]="item?.id">{{ item?.name }}</ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Installation Date</label>
                        <mat-form-field>
                            <input matInput [matDatepicker]="deviceDetails" formControlName="installationOn">
                            <mat-datepicker-toggle matSuffix [for]="deviceDetails"></mat-datepicker-toggle>
                            <mat-datepicker #deviceDetails></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Plan</label>
                        <ng-select placeholder="Select Plan" formControlName="planType">
                            <ng-option *ngFor="let item of planData" [value]="item?.id">{{ item?.planName }}</ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label class="form-label">Description</label>
                        <div class="input-group">
                            <textarea class="form-control" formControlName="description" placeholder="Enter Description"
                                rows="3" aria-describedby="button-addon2"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="icon-container">
                            <div class="icon-detail" *ngFor="let item of iconList">
                                <img src="{{item?.icon}}" alt="not available"
                                    (click)="imageId(item?.id)" [ngClass]="{'selected': selectedColor == item?.id}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <br>
                        <button class="btn btn-success" type="submit" [disabled]="deviceForm.invalid || isUniqueIdDuplicate || isCheckingUniqueId || spinnerLoading">
                            <span *ngIf="spinnerLoading" class="spinner-border spinner-border-sm me-2"></span>
                            {{buttonValue}}
                        </button>
                    </div>
                    <div class="col-md-6">
                        <br>
                        <button class="btn btn-danger" type="button" (click)="cancel($event)">
                            Cancel
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</ng-container>
<ng-template #elseblock>
    <div class="card">
        <div class="card-header">
            {{labelName}} Device
            <app-close-routes [route]="routePath"></app-close-routes>
        </div>
        <div class="card-body">
            <form [formGroup]="deviceForm" (ngSubmit)="submit(deviceForm.value)">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Unique ID <span class="text-danger">*</span></label>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Enter Unique ID"
                                formControlName="deviceUid" aria-describedby="button-addon2" />
                            <span *ngIf="isCheckingUniqueId" class="input-group-text">
                                <i class="fa fa-spinner fa-spin"></i>
                            </span>
                        </div>
                        <div *ngIf="deviceForm.get('deviceUid')?.invalid && (deviceForm.get('deviceUid')?.dirty || deviceForm.get('deviceUid')?.touched)"
                            class="text-danger">
                            <div *ngIf="deviceForm.get('deviceUid')?.errors?.['required']">
                                Unique ID is required
                            </div>
                            <div *ngIf="deviceForm.get('deviceUid')?.errors?.['duplicate'] || isUniqueIdDuplicate">
                                This Unique ID already exists
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Device IMEI</label>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Enter Device IMEI"
                                formControlName="deviceImei" aria-describedby="button-addon2" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Serial Number</label>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Enter Serial Number"
                                formControlName="serialNumber" aria-describedby="button-addon2" />
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Device Type <span class="text-danger">*</span></label>
                        <ng-select placeholder="Select Device Type" formControlName="fkDeviceType">
                            <ng-option *ngFor="let item of deviceTypeData" [value]="item?.id">
                                {{ item?.name }} ({{ item?.serverPort || '-' }})
                            </ng-option>
                        </ng-select>
                        <div *ngIf="deviceForm.get('fkDeviceType')?.invalid && (deviceForm.get('fkDeviceType')?.dirty || deviceForm.get('fkDeviceType')?.touched)"
                            class="text-danger">
                            Device Type is required
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Vehicle Type <span class="text-danger">*</span></label>
                        <ng-select placeholder="Select Vehicle Type" formControlName="fkVehicleType" (change)="selectedVehicle($event)">
                            <ng-option *ngFor="let item of vehiclTypeData" [value]="item?.id">{{ item?.name }}</ng-option>
                        </ng-select>
                        <div *ngIf="deviceForm.get('fkVehicleType')?.invalid && (deviceForm.get('fkVehicleType')?.dirty || deviceForm.get('fkVehicleType')?.touched)"
                            class="text-danger">
                            Vehicle Type is required
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Vehicle Number <span class="text-danger">*</span></label>
                        <div class="input-group">
                            <input type="text" class="form-control" formControlName="vehicleNo"
                                placeholder="Enter Vehicle Number" aria-describedby="button-addon2" maxlength="20"
                                oninput="this.value = this.value.toUpperCase()" />
                        </div>
                        <div *ngIf="deviceForm.get('vehicleNo')?.errors?.['required'] && (deviceForm.get('vehicleNo')?.dirty || deviceForm.get('vehicleNo')?.touched)"
                            class="text-danger">
                            Vehicle Number is required
                        </div>
                        <div class="text-danger" *ngIf="checkaplpha(deviceForm.get('vehicleNo')?.value)">
                            Only alphanumeric characters and spaces are allowed.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Primary SIM Number <span class="text-danger">*</span></label>
                        <div class="input-group">
                            <input type="text" class="form-control" formControlName="simPhoneNumber" placeholder="Enter Primary SIM Number"
                                aria-describedby="button-addon2" />
                        </div>
                        <div *ngIf="deviceForm.get('simPhoneNumber')?.invalid && (deviceForm.get('simPhoneNumber')?.dirty || deviceForm.get('simPhoneNumber')?.touched)"
                            class="text-danger">
                            <div *ngIf="deviceForm.get('simPhoneNumber')?.errors?.['required']">
                                Primary SIM Number is required
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Primary SIM Operator</label>
                        <ng-select placeholder="Select Primary SIM Operator" formControlName="fkSimOperator">
                            <ng-option *ngFor="let item of operatorData" [value]="item?.id">{{ item?.name }}</ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Secondary SIM Number</label>
                        <div class="input-group">
                            <input type="text" class="form-control" formControlName="simSecPhoneNumber" placeholder="Enter Secondary SIM Number"
                                aria-describedby="button-addon2" />
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Secondary SIM Operator</label>
                        <ng-select placeholder="Select Secondary SIM Operator" formControlName="fkSecSimOperator">
                            <ng-option *ngFor="let item of operatorData" [value]="item?.id">{{ item?.name }}</ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Installation Date</label>
                        <mat-form-field>
                            <input matInput [matDatepicker]="deviceDetails" formControlName="installationOn">
                            <mat-datepicker-toggle matSuffix [for]="deviceDetails"></mat-datepicker-toggle>
                            <mat-datepicker #deviceDetails></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Plan</label>
                        <ng-select placeholder="Select Plan" formControlName="planType">
                            <ng-option *ngFor="let item of planData" [value]="item?.id">{{ item?.planName }}</ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label class="form-label">Description</label>
                        <div class="input-group">
                            <textarea class="form-control" formControlName="description" placeholder="Enter Description"
                                rows="3" aria-describedby="button-addon2"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="icon-container add">
                            <div class="icon-detail" *ngFor="let item of iconList">
                                <img src="{{item?.icon}}" alt="not available"
                                    (click)="imageId(item?.id)" [ngClass]="{'selected': selectedColor == item?.id}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <br>
                        <button class="btn btn-success" type="submit" [disabled]="deviceForm.invalid || isUniqueIdDuplicate || isCheckingUniqueId || spinnerLoading">
                            <span *ngIf="spinnerLoading" class="spinner-border spinner-border-sm me-2"></span>
                            {{buttonValue}}
                        </button>
                    </div>
                    <div class="col-md-6">
                        <br>
                        <button class="btn btn-danger" type="button" (click)="cancel($event)">
                            Cancel
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</ng-template>
